   <div class="event">
        <div class="content">
        <div class="summary">
        <div class="my-circle" title="KM"></div>

    </em><a class="ui blue circular label"><%=message.user.username%></a> </em> <%= message.body%>
        </div>
        </div>
    </div>